.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.employee-frontpage-text {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.App-header {
  background-color: #191970;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
